body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46rem;
}

.Convertidor{
    border: 1px solid #111;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    width: 27rem;
    height: 30rem;
    overflow: hidden;
}

.form{
    display: grid;
    place-content: center;
    box-sizing: border-box;
    background-image: url(fondo.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color:rgb(50, 36, 83);
    text-align: center;
}

input{
    background: transparent;
    width: 18rem;
    height: 1.5rem;
    font-size: 0.9rem;
    border: 2px solid rgba(116,116,116,0.2);
    border-radius: 1rem;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
}