body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46rem;
}

.Convertidor{
    border: 1px solid #111;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    width: 27rem;
    height: 30rem;
}

.form{
    display: grid;
    place-content: center;
    box-sizing: border-box;
    background-image: url(fondo.jpg);
}