body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46rem;
}

.Convertidor{
    border: 1px solid #111;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    width: 27rem;
    height: 30rem;
    overflow: hidden;
}

.form{
    display: grid;
    place-content: center;
    box-sizing: border-box;
    background-image: url(fondo.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
}